.u-section-1 {
  background-image: url("/static/images/imageedit_2_7732107722.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-family: Aclonica;
  margin: 63px 720px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Aclonica;
  font-size: 1.125rem;
  margin: 123px 680px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, rgba(30,201,24,0.62), white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px 0 60px;
  padding: 7px 21px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 520px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 120px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}